body{
    background-color:rgb(21, 113, 150);
}
ul{
    list-style: none;
    background-color: rgb(21, 150, 110);
    width: 400px;
    padding: 10px;
}
.items_nav{
    display: inline;
    padding: 10px;
}
h1{
    background-image: url(./imagenes/istockphoto-512278456-1024x1024hospital2.jpg);
    background-size:cover;
    background-position: 50%;
    background-attachment: fixed;
    padding: 20px 20px;
    height: 600px;
    text-align: center;
    font-size: 4rex;
    text-transform: uppercase grey;
    text-shadow: 1px 2px rgb(21, 113, 150);
    margin-top: 5px;
}
.tarjeta{
    max-width: 300px;
    margin: 50px auto;
    border: 2px solid lightblue;
    box-shadow: 5px 5px 5px green,
    -5px 5px 5px greenyellow;
    border-bottom: 50%;
           
}

.img_tarjeta{
    width: 30%;

}
.texto_resaltado{
    background-color: brown;
}
*{
    box-sizing: border-box;
    margin: 0,5%;
    padding: 0,5%;
    font-family: 'raleway',Verdana, Geneva, Tahoma, sans-serif;
}

